html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}
nav {
  background-color: #191e28;
  position: relative;
  height: 2.2rem;
  color: #bbb;
  padding: .5rem;
}
nav a {
  color: #bbb;
  text-decoration: none;
}
nav span.user {
  float: right;
  margin-left: 0.5rem;
}
nav button {
  float: right;
  background-color: #191e28;
  border: 1px solid #bbb;
  color: #bbb;
  cursor: pointer;
}
nav button:active {
  background-color: #2d3647;
}
nav button .text {
  vertical-align: middle;
}
nav button i.gh-login {
  content: url('images/GitHub-Mark-Light-32px.png');
  height: 0.9rem;
  padding-right: 0.2rem;
  vertical-align: middle;
}
header {
  font-size: 2rem;
  background-color: #191e28;
  height: 20rem;
  position: relative;
  background-image: url('images/OrteliusWorldMap1570_small_lowres.jpg');
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  background-size: cover;
  text-align: center;
}
header span {
  color: #bbbbbb;
  background-color: rgba(0, 0, 0, 0.4);
}
header span a {
  color: #bbbbbb;
}
header span.title {
  top: 12rem;
  position: relative;
  padding: .1rem 1rem;
}
header span.attribution {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .1rem .5rem;
}
ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}
ul li {
  -webkit-flex: 1;
          flex: 1;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
}
ul li a {
  display: -webkit-flex;
  display: flex;
  padding: 0;
  text-decoration: none;
  color: #000;
  min-width: 20rem;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  transition: background-color 250ms;
}
ul li a img {
  height: 6rem;
  width: 3rem;
  max-width: 12rem;
  -webkit-flex: 1;
          flex: 1;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  transition: -webkit-filter 250ms, filter 250ms;
}
ul li a div {
  display: inline-block;
  vertical-align: top;
  -webkit-flex: 1;
          flex: 1;
  min-width: 15rem;
  padding: 0 1rem;
}
ul li a div h1 {
  margin: 0;
  margin-bottom: 1rem;
}
ul li a:hover {
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 250ms;
}
ul li a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  transition: -webkit-filter 250ms, filter 250ms;
}
.angular-leaflet-map {
  position: absolute;
  top: 2.2rem;
  bottom: 0;
  width: 100%;
}
