<div class="map-container">

    <leaflet ng-if="vm.flags.mapLoaded"
             layers="vm.layers" 
             paths="vm.lines" 
             markers="vm.markers" 
             center="vm.center"
             controls="vm.controls"
             defaults="vm.defaults">
    </leaflet>

    <div id="center-overlay" ng-if="vm.flags.settingCenterAndZoom">
        <div class="explain">
            <section class="text">Drag the center of the map under the crosshairs</section>
            <section class="actions">
                <button ng-click="vm.hideSetCenterAndZoom()">Cancel</button>
                <button ng-click="vm.setCenterAndZoom()">Save Center And Zoom</button>
            </section>
        </div>
        <div class="circle"></div>
        <div class="vertical"></div>
        <div class="horizontal"></div>
     </div>

     <button id="meta-editor-open" 
             ng-click="vm.toggleMetaEditor()"
             ng-hide="vm.flags.editingMapMeta"
             ng-if="vm.flags.canEdit">
         <i class="fa fa-lg fa-angle-double-left"></i>
         <i class="fa fa-lg fa-edit"></i>
     </button>
     <div id="meta-editor" ng-if="vm.flags.editingMapMeta">
        <h1>Edit Map</h1>
        <button id="meta-editor-close" 
                ng-click="vm.toggleMetaEditor()">
            <i class="fa fa-2x fa-close"></i>
        </button>
        <form>
            <section>
                <label>Name</label>
                <input type="text" ng-model="vm.map.name"> 
            </section>
            <section>
                <label>Description</label>
                <textarea ng-model="vm.map.description"></textarea>
            </section>
            <button ng-click="vm.showSetCenterAndZoom()">Set Center And Zoom</button>
            <button ng-click="vm.map.$save()">Save</button>

            <h2>Layers <button ng-click="vm.addLayer()">Add layer</button></h2>

            <section ng-if="vm.newLayer">
                <section>
                    <label>Name</label>
                    <input type="text" ng-model="vm.newLayer.name">
                </section>
                <section>
                    <label>Url</label>
                    <input type="text" ng-model="vm.newLayer.url">
                </section>
                <section>
                    <label>Type</label>
                    <input type="text" ng-model="vm.newLayer.type">
                </section>
                <section>
                    <label>Attribution</label>
                    <input type="text" ng-model="vm.newLayer.layerOptions.attribution">
                </section>
                <button ng-click="vm.newLayer = null">Cancel</button>
                <button ng-click="vm.saveLayer(vm.newLayer)">Save Layer</button>
            </section>
            
            <section ng-repeat="layer in vm.map.layers">
                <section>
                    <label>Name</label>
                    <input type="text" ng-model="layer.name">
                </section>
                <section>
                    <label>Url</label>
                    <input type="text" ng-model="layer.url">
                </section>
                <section>
                    <label>Type</label>
                    <input type="text" ng-model="layer.type">
                </section>
                <section>
                    <label>Attribution</label>
                    <input type="text" ng-model="layer.layerOptions.attribution">
                </section>
                <button ng-click="vm.saveLayer(layer)">Save Layer</button>
            </section>
        </form>
     </div>
    <button id="marker-info-hide" ng-if="vm.flags.editingMarkerInfo" ng-click="vm.hideMarkerInfo()">HIDE</button>
    <marker-info ng-if="vm.flags.editingMarkerInfo"></marker-info>
</div>
