html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.nav {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 25%;
  background-color: rgba(255, 255, 255, 0.85);
}
.nav .btns {
  display: flex;
  position: relative;
}
.nav .btns :after {
  content: '';
  width: 96%;
  height: 1px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  left: 2%;
}
.nav .btn {
  flex: 1;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  position: relative;
}
.nav .btn + .btn:before {
  content: '';
  width: 1px;
  height: 90%;
  background: #ccc;
  position: absolute;
  top: 5%;
  left: 0;
}
.nav .btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
}
.nav .content {
  padding: 20px;
}
