<div class="maps-controls">
    <div class="leaflet-control leaflet-bar">
        <a id="marker-control" href="" ng-click="vm.toggleMarkerSelector($event)" title="Add a new marker"></a>
    </div>
    <div class="marker-selector" ng-if="vm.flags.showMarkerSelector" ngf-drop="vm.uploadIcon($file, $invalidFiles)">
        <h2>Select Marker</h2>
        <div class="upload" ng-class="{waiting: vm.flags.fileDragging}">
            <button type="file"
                    ngf-select="vm.uploadIcon($file, $invalidFiles)"
                    accept="image/*"
                    ngf-max-height="1000"
                    ngf-max-size="1MB">
                    Upload Icon
            </button>
        </div>
        <ul class="markers">
            <li ng-repeat="markerType in vm.markerTypes" ng-click="vm.setMarkerType(markerType)" class="marker">
                <img ng-src="{{markerType.img}}"
                     alt="{{markerType.name}}" />
            </li>
            <img ng-src="{{vm.imgSrc}}" />
        </ul>
    </div>
</div>
