/* external */
@import 'font-awesome.less';

/* vars */
@fa-font-path: 'fonts';

/* global styling */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding:0;
    margin:0;
    font-family: 'PT Sans', sans-serif;
}

input, textarea, keygen, select, button {
    font-family: 'PT Sans', sans-serif;
}

button {
    cursor: pointer;
}

/* internal less */
@import 'nav.less';
@import 'maplist/maplist.less';
@import 'map/map.less';