body {
    padding:0;
    margin:0;
    font-family: 'PT Sans', sans-serif;
}

header {
    font-size: 35px;
    background-color: rgb(25,30,40);
    height: 200px;
    position: relative;

    img {
        height: 200px;
        width: auto;
    }

    span {
        color: #fff;
        opacity: 0.5;
        position: relative;
        bottom: 15px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {

        flex: 1;
        flex-shrink: 0;

        a {
            display: flex;
            padding: 5px;
            text-decoration: none;
            color: #000;
            min-width: 500px;
            flex-shrink: 0;

            img {
                height: 200px;
                width: 400px;
                max-width: 400px;
                flex: 1;
            }

            div {
                display: inline-block;
                vertical-align: top;
                flex: 1;
                min-width: 200px;
                padding:10px;

                h1 {
                    margin-top:0;
                }
            }
        }


        a:link, a:hover, a:active, a:visited {

        }

        a:hover {
            background-color: #ccc;
            cursor: pointer;
        }
    }
}


