<!DOCTYPE html>
<html lang="en" ng-app="maps">
<head>
    <title>Maps</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="deps.css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>

<body drag-over>
	<nav ng-controller="NavCtrl as vm">
	    <a href="#/">Maps</a>
        <span class="user">{{vm.user.login}}</span>
        <button ng-if="!vm.flags.loggedIn" ng-click="vm.login()">
            <i class="fa fa-github"></i>
            <span class="text">Log In</span>
        </button>
	    <button ng-if="vm.flags.loggedIn" ng-click="vm.logout()">
            <i class="fa fa-github"></i>
            <span class="text">Log Out</span>
        </button>
	</nav>
    <ng-view/>
    <script type="text/javascript" src="external.js"></script>
    <script type="text/javascript"> L.Icon.Default.imagePath = 'images'; </script>
    <script type="text/javascript" src="internal.js"></script>
    <script type="text/javascript" src="tpls.js"></script>
</body>
</html>
