nav {
    background-color: #3C3C3C;
    position: relative;
    height: 2.3rem;
    color: #bbb;
    padding: .5rem;

    a {
        color: #bbb;
        text-decoration: none;
    }

    span.user {
        float: right;
        margin-left: 0.5rem;
    }

    button {
        float: right;
        background-color: #3C3C3C;
        border: 1px solid #bbb;
        color: #bbb;
        padding: 0 .5rem;

        &:active {
            background-color: lighten(#3C3C3C, 10%);
        }

        i {
            vertical-align: middle;
        }

        .text {
            vertical-align: middle;
        }
    }
}
